# Poetry files
poetry.lock

# PyTorch and model files
*.pt
*.pth
checkpoints/

# Virtual environments
venv/
.env/
.pdm.toml

# Data directory
data/

# probably licensed soundfont files
*.sf2

# our datset
instrument_dataset/
generatingSpectograms/output